{% extends "base.html" %} {% import "macros.html" as macros %}{% block content %}
<div class="user-card-container">
{% for user in users %}
{{ macros::user_card(user=user) }}
{% endfor %}
</div>
<div class="footer">
<div class="add-user">
    <form action="/add" enctype="multipart/form-data" method="post">
        <label for="login">user login</label>
        <input type="text" name="login" id="login" required />
        <button type="submit">add subscription</button>
    </form>
</div>
<div class="reverify">
    <form action="/reverify" enctype="multipart/form-data" method="post">
        <button type="submit">reverify app access token</button>
    </form>
</div>
</div>
{% endblock content %}
